{% extends 'account/base.html' %}
{% block content %}
<ul class="nav nav-tabs">
<div class="text-center">

<div type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> ADD AN EVENT <span class="glyphicon glyphicon-plus"></span></div>
<div> 

	<form class="form-horizontal" method="post">{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form1 %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add An Event</h4>
      </div>
      <div class="modal-body">
		<form class="form-horizontal" method="post">{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<br>


<div class="col-md-1 col-xs-1"></div>
{% if year == standard_year and month == 1 %}
    <li class="active"><a data-toggle="tab" href="#home"><h3>January</h3></a></li>
{% elif year > standard_year %}
	<li class="active"><a data-toggle="tab" href="#home"><h3>January</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#home"><h3>January</h3></a></li>
{% endif %}

{% if year == standard_year and month == 2 %}
    <li class="active"><a data-toggle="tab" href="#menu1"><h3>Febuary</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu1"><h3>Febuary</h3></a></li>
{% endif %}

{% if year == standard_year and month == 3 %}
    <li class="active"><a data-toggle="tab" href="#menu2"><h3>March</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu2"><h3>March</h3></a></li>
{% endif %}

{% if year == standard_year and month == 4 %}
    <li class="active"><a data-toggle="tab" href="#menu3"><h3>April</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu3"><h3>April</h3></a></li>
{% endif %}

{% if year == standard_year and month == 5 %}
    <li class="active"><a data-toggle="tab" href="#menu4"><h3>May</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu4"><h3>May</h3></a></li>
{% endif %}

{% if year == standard_year and month == 6 %}
    <li class="active"><a data-toggle="tab" href="#menu5"><h3>June</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu5"><h3>June</h3></a></li>
{% endif %}

{% if year == standard_year and month == 7 %}
    <li class="active"><a data-toggle="tab" href="#menu6"><h3>July</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu6"><h3>July</h3></a></li>
{% endif %}

{% if year == standard_year and month == 8 %}
    <li class="active"><a data-toggle="tab" href="#menu7"><h3>August</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu7"><h3>August</h3></a></li>
{% endif %}

{% if year == standard_year and month == 9 %}
    <li class="active"><a data-toggle="tab" href="#menu8"><h3>September</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu8"><h3>September</h3></a></li>
{% endif %}

{% if year == standard_year and month == 10 %}
    <li class="active"><a data-toggle="tab" href="#menu9"><h3>October</h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu9"><h3>October</h3></a></li>
{% endif %}

{% if year == standard_year and month == 11 %}
    <li class="active"><a data-toggle="tab" href="#menu10"><h3>November </h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu10"><h3>November </h3></a></li>
{% endif %}

{% if year == standard_year and month == 12 %}
    <li class="active"><a data-toggle="tab" href="#menu11"><h3>December </h3></a></li>
{% elif year < standard_year  %}
	<li class="active"><a data-toggle="tab" href="#menu11"><h3>December </h3></a></li>
{% else %}
	<li><a data-toggle="tab" href="#menu11"><h3>December </h3></a></li>
{% endif %}

  </ul> 
  <div class="tab-content">
    
 

{% if year == standard_year and month == 1 %}
<div id="home" class="tab-pane fade in active">
{% elif year > standard_year %}
<div id="home" class="tab-pane fade in active">
{% else %}
<div id="home" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>JANUARY</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_1 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_1 %}
				{% if j > day and 1 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 1 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 1 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 1 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_1 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 2 %}
<div id="menu1" class="tab-pane fade in active">
{% else %}
<div id="menu1" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>FEBUARY</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_2 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_2 %}
				{% if j > day and 2 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 2 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 2 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 2 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_2 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 3 %}
<div id="menu2" class="tab-pane fade in active">
{% else %}
<div id="menu2" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>MARCH</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_3 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_3 %}
				{% if j > day and 3 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 3 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 3 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 3 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_3 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 4 %}
<div id="menu3" class="tab-pane fade in active">
{% else %}
<div id="menu3" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>APRIL</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_4 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_4 %}
				{% if j > day and 4 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 4 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 4 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 4 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_4 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 5 %}
<div id="menu4" class="tab-pane fade in active">
{% else %}
<div id="menu4" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>MAY</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_5 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_5 %}
				{% if j > day and 5 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 5 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 5 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 5 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_5 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>


{% if year == standard_year and month == 6 %}
<div id="menu5" class="tab-pane fade in active">
{% else %}
<div id="menu5" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>JUNE</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_6 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_6 %}
				{% if j > day and 6 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 6 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 6 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 6 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_6 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>




{% if year == standard_year and month == 7 %}
<div id="menu6" class="tab-pane fade in active">
{% else %}
<div id="menu6" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>JULY</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_7 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_7 %}
				{% if j > day and 7 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 7 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 7 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 7 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
{% if event_list_7 %}
 {% for i in event_list_7 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
{% else %}
	<p>You have no events data for this month</p>
{% endif %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 8 %}
<div id="menu7" class="tab-pane fade in active">
{% else %}
<div id="menu7" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>AUGUST</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_8 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_8 %}
				{% if j > day and 8 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 8 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 8 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 8 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_8 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>

{% if year == standard_year and month == 9 %}
<div id="menu8" class="tab-pane fade in active">
{% else %}
<div id="menu8" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>SEPTEMBER</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_9 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_9 %}
				{% if j > day and 9 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 9 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 9 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 9 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_9 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>




{% if year == standard_year and month == 10 %}
<div id="menu9" class="tab-pane fade in active">
{% else %}
<div id="menu9" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>OCTOBER</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_10 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_10 %}
				{% if j > day and 10 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 10 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 10 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 10 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_10 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 11 %}
<div id="menu10" class="tab-pane fade in active">
{% else %}
<div id="menu10" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>NOVEMBER</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_11 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_11 %}
				{% if j > day and 11 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 11 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 11 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 11 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_11 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>



{% if year == standard_year and month == 12 %}
<div id="menu11" class="tab-pane fade in active">
{% elif year < standard_year %}
<div id="menu11" class="tab-pane fade in active">
{% else %}
<div id="menu11" class="tab-pane fade ">
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="text-center">
<p></p>
  <h2>{{year}}</h2>
  <h3>DECEMBER</h3>
  </div>
<br>
  <div class="">

  <table class="table table-responsive table-bordered">
  {% for i in month_12 %}
    <tbody>
      <tr>
	  {% for j in i %}
			{% if j == 0 %}
        <td></td>
			{% else %}

		{% if j in event_12 %}
				{% if j > day and 12 < month and  year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j > day and 12 >= month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 12 <= month and year <= standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% elif j < day and 12 > month and year < standard_year %}
					<td style="background-color:green"><h5>{{j}}</h5></button></td>
				{% else %}
					<td style="background-color:blue"><h5>{{j}}</h5></button></td>
				{% endif %}
		{% else %}
			<td><h5>{{j}}</h5></td>
		{% endif %}

			{% endif %}
	 {% endfor %}
      </tr>
    </tbody>
  {% endfor %}
  </table>
  </div>
</div>


<div class="col-md-3">
</div>
<div class="col-md-12 col-xs-12 text-center">
<br>
<br>
<br>
<br><br>
<br>
 {% for i in event_list_12 %}
 <p>TITLE :{{i.title}}</p>
 <p>DESCRIPTION :{{i.description}}</p>
 <p>EVENT DATE :{{i.event_date}}</p>
 <br>
  {% endfor %}
 <div class="text-right">{{i.updated_date}}</div>
 </div>
</div>


{% endblock %}

